BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "en0" SITE "47" ;
LOCATE COMP "clk0" SITE "35" ;
LOCATE COMP "cdiv0[0]" SITE "56" ;
LOCATE COMP "cdiv0[1]" SITE "55" ;
LOCATE COMP "cdiv0[2]" SITE "54" ;
LOCATE COMP "cdiv0[3]" SITE "52" ;
LOCATE COMP "cdiv0[4]" SITE "50" ;
LOCATE COMP "outr0[0]" SITE "83" ;
LOCATE COMP "outr0[1]" SITE "84" ;
LOCATE COMP "outr0[2]" SITE "85" ;
LOCATE COMP "outr0[3]" SITE "86" ;
LOCATE COMP "inkey0[0]" SITE "91" ;
LOCATE COMP "inkey0[1]" SITE "92" ;
LOCATE COMP "inkey0[2]" SITE "93" ;
LOCATE COMP "inkey0[3]" SITE "94" ;
LOCATE COMP "out320[0]" SITE "34" ;
LOCATE COMP "out320[1]" SITE "109" ;
LOCATE COMP "out320[2]" SITE "110" ;
LOCATE COMP "out320[3]" SITE "111" ;
LOCATE COMP "out320[4]" SITE "112" ;
LOCATE COMP "out320[5]" SITE "113" ;
LOCATE COMP "out320[6]" SITE "114" ;
LOCATE COMP "out320[7]" SITE "115" ;
LOCATE COMP "out320[8]" SITE "117" ;
LOCATE COMP "out320[9]" SITE "119" ;
LOCATE COMP "out320[10]" SITE "120" ;
LOCATE COMP "out320[11]" SITE "121" ;
LOCATE COMP "out320[12]" SITE "122" ;
LOCATE COMP "out320[13]" SITE "125" ;
LOCATE COMP "out320[14]" SITE "126" ;
LOCATE COMP "out320[15]" SITE "127" ;
LOCATE COMP "out320[16]" SITE "128" ;
LOCATE COMP "out320[17]" SITE "132" ;
LOCATE COMP "out7seg0[0]" SITE "1" ;
LOCATE COMP "out7seg0[1]" SITE "2" ;
LOCATE COMP "out7seg0[2]" SITE "3" ;
LOCATE COMP "out7seg0[3]" SITE "4" ;
LOCATE COMP "out7seg0[4]" SITE "5" ;
LOCATE COMP "out7seg0[5]" SITE "6" ;
LOCATE COMP "out7seg0[6]" SITE "9" ;
LOCATE COMP "outr70[0]" SITE "10" ;
LOCATE COMP "outr70[1]" SITE "11" ;
LOCATE COMP "outr70[2]" SITE "12" ;
LOCATE COMP "outr70[3]" SITE "13" ;
LOCATE COMP "out320[18]" SITE "133" ;
LOCATE COMP "out320[19]" SITE "138" ;
LOCATE COMP "out320[20]" SITE "139" ;
LOCATE COMP "out320[21]" SITE "140" ;
LOCATE COMP "out320[22]" SITE "141" ;
LOCATE COMP "out320[23]" SITE "142" ;
LOCATE COMP "out320[24]" SITE "143" ;
