BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "35" ;
LOCATE COMP "en0" SITE "47" ;
LOCATE COMP "cdiv0[0]" SITE "56" ;
LOCATE COMP "cdiv0[1]" SITE "55" ;
LOCATE COMP "cdiv0[2]" SITE "54" ;
LOCATE COMP "cdiv0[3]" SITE "52" ;
LOCATE COMP "cdiv0[4]" SITE "50" ;
LOCATE COMP "address0[0]" SITE "109" ;
LOCATE COMP "address0[1]" SITE "110" ;
LOCATE COMP "address0[2]" SITE "111" ;
LOCATE COMP "address0[3]" SITE "112" ;
LOCATE COMP "address0[4]" SITE "113" ;
LOCATE COMP "address0[5]" SITE "114" ;
LOCATE COMP "inxfsm0[0]" SITE "117" ;
LOCATE COMP "inxfsm0[1]" SITE "119" ;
LOCATE COMP "inxfsm0[2]" SITE "120" ;
LOCATE COMP "inxfsm0[3]" SITE "121" ;
LOCATE COMP "inxfsm0[4]" SITE "122" ;
LOCATE COMP "inxfsm0[5]" SITE "125" ;
LOCATE COMP "outfsm0[0]" SITE "126" ;
LOCATE COMP "outfsm0[1]" SITE "127" ;
LOCATE COMP "outfsm0[2]" SITE "128" ;
