BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[0]" SITE "56" ;
LOCATE COMP "Ai[1]" SITE "55" ;
LOCATE COMP "Ai[2]" SITE "54" ;
LOCATE COMP "Ai[3]" SITE "52" ;
LOCATE COMP "Ai[4]" SITE "50" ;
LOCATE COMP "Ai[5]" SITE "49" ;
LOCATE COMP "Ai[6]" SITE "48" ;
LOCATE COMP "Ai[7]" SITE "47" ;
LOCATE COMP "Ai[8]" SITE "45" ;
LOCATE COMP "Ai[9]" SITE "44" ;
LOCATE COMP "Ai[10]" SITE "43" ;
LOCATE COMP "Ai[11]" SITE "42" ;
LOCATE COMP "Ai[12]" SITE "41" ;
LOCATE COMP "Ai[13]" SITE "40" ;
LOCATE COMP "Ai[14]" SITE "39" ;
LOCATE COMP "Ai[15]" SITE "38" ;
LOCATE COMP "Bi[0]" SITE "107" ;
LOCATE COMP "Bi[1]" SITE "106" ;
LOCATE COMP "Bi[2]" SITE "105" ;
LOCATE COMP "Bi[3]" SITE "104" ;
LOCATE COMP "Bi[4]" SITE "100" ;
LOCATE COMP "Bi[5]" SITE "99" ;
LOCATE COMP "Bi[6]" SITE "98" ;
LOCATE COMP "Bi[7]" SITE "97" ;
LOCATE COMP "Bi[8]" SITE "67" ;
LOCATE COMP "Bi[9]" SITE "65" ;
LOCATE COMP "Bi[10]" SITE "62" ;
LOCATE COMP "Bi[11]" SITE "61" ;
LOCATE COMP "Bi[12]" SITE "60" ;
LOCATE COMP "Bi[13]" SITE "59" ;
LOCATE COMP "Bi[14]" SITE "58" ;
LOCATE COMP "Bi[15]" SITE "57" ;
LOCATE COMP "SL" SITE "19" ;
LOCATE COMP "So[0]" SITE "35" ;
LOCATE COMP "So[1]" SITE "34" ;
LOCATE COMP "So[2]" SITE "109" ;
LOCATE COMP "So[3]" SITE "110" ;
LOCATE COMP "So[4]" SITE "111" ;
LOCATE COMP "So[5]" SITE "112" ;
LOCATE COMP "So[6]" SITE "113" ;
LOCATE COMP "So[7]" SITE "114" ;
LOCATE COMP "So[8]" SITE "115" ;
LOCATE COMP "So[9]" SITE "117" ;
LOCATE COMP "So[10]" SITE "119" ;
LOCATE COMP "So[11]" SITE "120" ;
LOCATE COMP "So[12]" SITE "121" ;
LOCATE COMP "So[13]" SITE "122" ;
LOCATE COMP "So[14]" SITE "125" ;
LOCATE COMP "So[15]" SITE "126" ;
LOCATE COMP "LED" SITE "143" ;
