BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "en0" SITE "38" ;
LOCATE COMP "cdiv0[0]" SITE "45" ;
LOCATE COMP "cdiv0[1]" SITE "44" ;
LOCATE COMP "cdiv0[2]" SITE "43" ;
LOCATE COMP "cdiv0[3]" SITE "42" ;
LOCATE COMP "cdiv0[4]" SITE "41" ;
LOCATE COMP "clk0" SITE "119" ;
LOCATE COMP "in0[0]" SITE "56" ;
LOCATE COMP "in0[1]" SITE "55" ;
LOCATE COMP "in0[2]" SITE "54" ;
LOCATE COMP "in0[3]" SITE "52" ;
LOCATE COMP "in0[4]" SITE "50" ;
LOCATE COMP "in0[5]" SITE "49" ;
LOCATE COMP "in0[6]" SITE "48" ;
LOCATE COMP "in0[7]" SITE "47" ;
LOCATE COMP "out0[0]" SITE "35" ;
LOCATE COMP "out0[1]" SITE "34" ;
LOCATE COMP "out0[2]" SITE "109" ;
LOCATE COMP "out0[3]" SITE "110" ;
LOCATE COMP "out0[4]" SITE "111" ;
LOCATE COMP "out0[5]" SITE "112" ;
LOCATE COMP "out0[6]" SITE "113" ;
LOCATE COMP "out0[7]" SITE "114" ;
LOCATE COMP "inc0[0]" SITE "67" ;
LOCATE COMP "inc0[1]" SITE "65" ;
LOCATE COMP "inc0[2]" SITE "62" ;
LOCATE COMP "inc0[3]" SITE "61" ;
