BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv[0]" SITE "45" ;
LOCATE COMP "cdiv[1]" SITE "44" ;
LOCATE COMP "cdiv[2]" SITE "43" ;
LOCATE COMP "cdiv[3]" SITE "42" ;
LOCATE COMP "cdiv[4]" SITE "41" ;
LOCATE COMP "oscOut0" SITE "35" ;
