BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "inData0[0]" SITE "45" ;
LOCATE COMP "inData0[1]" SITE "44" ;
LOCATE COMP "inData0[2]" SITE "43" ;
LOCATE COMP "inData0[3]" SITE "42" ;
LOCATE COMP "inData0[4]" SITE "41" ;
LOCATE COMP "inData0[5]" SITE "40" ;
LOCATE COMP "inData0[6]" SITE "39" ;
LOCATE COMP "inData0[7]" SITE "38" ;
LOCATE COMP "clk0" SITE "35" ;
LOCATE COMP "Q0[0]" SITE "109" ;
LOCATE COMP "Q0[1]" SITE "110" ;
LOCATE COMP "Q0[2]" SITE "111" ;
LOCATE COMP "Q0[3]" SITE "112" ;
LOCATE COMP "Q0[4]" SITE "113" ;
LOCATE COMP "Q0[5]" SITE "114" ;
LOCATE COMP "Q0[6]" SITE "115" ;
LOCATE COMP "Q0[7]" SITE "117" ;
LOCATE COMP "outcont0[0]" SITE "120" ;
LOCATE COMP "outcont0[1]" SITE "121" ;
LOCATE COMP "outcont0[2]" SITE "122" ;
LOCATE COMP "outcont0[3]" SITE "125" ;
LOCATE COMP "outcont0[4]" SITE "126" ;
LOCATE COMP "outcont0[5]" SITE "127" ;
LOCATE COMP "cdiv0[0]" SITE "56" ;
LOCATE COMP "cdiv0[1]" SITE "55" ;
LOCATE COMP "cdiv0[2]" SITE "54" ;
LOCATE COMP "cdiv0[3]" SITE "52" ;
LOCATE COMP "cdiv0[4]" SITE "50" ;
LOCATE COMP "en0" SITE "57" ;
LOCATE COMP "rw0" SITE "67" ;
LOCATE COMP "re0" SITE "65" ;
